@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Pixelify Sans', sans-serif;
}

body{
    background-color: #ffd200;
}

.fondo{
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

header{
    box-shadow: 0 0 2rem -0.5px rgba(0, 0, 0, .5);
}

header nav{
    width: 100%;
    padding-block: 0.5rem;
    position: fixed;
    background: #ff4747;
    z-index: 1;
}
.img-nav{
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
}
.img-nav img{
    width: 100%;
    max-width: 8rem;
}

body{
    min-height: 100vh;
}

.main{
    padding: 2rem;
}


.img{
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    
}

.img img{
    width: 100%;
    max-width: 8rem;
}

.container-pokemon{
    display: grid;
    gap: 1rem;
    margin: 0 auto;
}


.pokemon{
    border-radius: 10px;
    box-shadow: 0 0 3rem -1rem rgb(0, 0, 2.24);
    position: relative;
    isolation: isolate;
    overflow: hidden;
    text-align: center;
    transition: all 200ms ease;
    cursor: pointer;
    background-color: #fafafa;
}

.pokemon:hover{
    transform: translateY(-5px);
}

.id-pokemon-fondo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    font-size: 10rem;
    font-weight: 1000;
    color: #bbbbbb;
}

@media (min-width: 500px){
    .container-pokemon{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 750px){
    .container-pokemon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width : 401px){
    .fondo-computadora{
        display: block;
    }
    .fondo-celular{
        display: none;
    }
}
@media (max-width : 400px){
    .fondo-computadora{
        display: none;
    }
    .fondo-celular{
        display: block;
    }
}

